.bgcolor{
    background: #eceff1;
    background: linear-gradient(158deg, #e0e0e0, rrgb(233, 237, 254) 100%);
    min-height: 100vh;
   
}
.react-calendar {
  padding: 20px; /* Adjust the padding as needed */
  margin-left:380px ;
  border-radius: 4px;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

